html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.react-monaco-editor-container {
    overflow: hidden;
    position: absolute;
}

.monaco-aria-container {
    display: none;
}

div {
    padding: 0;
    margin: 0;
}

svg {
    width: 100%;
    height: 100%;
}

#container>* {
    display: grid;
    grid-template-columns: 50vw auto;

    height: 100vh;
    width: 100vw;
}

.inside-relative>* {
    position: absolute;
}

#error-window {
    padding: 10px;
    font-family: sans-serif;
}
#error-window h1 {
    margin: 0;
    background-color: #771a1a;
    color: #fafafa;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#error-window th {
    text-align: left;
    font-size: 1.2em;
}

#error-window h2 {
    margin: 0;
    padding: 0;
}

#error-window table {
    width: 100%;
}

#error-window td, #error-window th {
    padding: 4px;
}

#error-window td:nth-child(odd), #error-window th:nth-child(odd)
{
    background: rgb(253, 208, 208);
}

#error-window td:nth-child(even), #error-window th:nth-child(even)
{
    background: rgb(255, 233, 233);
}

#error-window td:only-child
{
    background-color: rgb(255, 255, 255);
}

.side-bar {
    overflow: auto;
}

/* Tabs */
.tabs {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto 1fr;
}

.tag-group {
    display: flex;
    background: #1e1e1e;
    font-family: sans-serif;
    color: white;
    font-size: 0.65em;
    text-transform: uppercase;
}

.individual-tab {
    padding: 5px;
}

.individual-tab:hover {
    background: rgb(50, 50, 50);
    cursor: pointer;
}

.individual-tab.selected {
    background: white;
    color: black;
    font-weight: bold;
}
